@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1600px;
    }
}

@media (min-width: 992px){
    .aside {
        width: 320px;
    }
    .aside .aside-menu {
        width: 320px;
    }
    .aside-enabled.aside-fixed .wrapper {
        padding-left: 320px;
    }
    .aside-enabled.aside-fixed.toolbar-fixed .toolbar, .aside-enabled.aside-fixed.header-fixed .header {
        left: 320px;
    }
    [data-kt-aside-minimize=on] .aside.aside-hoverable:hover:not(.animating) {
        width: 320px;
    }
    .header-fixed.toolbar-fixed .wrapper {
        padding-top: calc(10px + var(--kt-toolbar-height));
    }
}