body, html {
    font-family: Jost, Helvetica, "sans-serif";
}

@media (min-width: 992px){
    :root {
        --bs-app-sidebar-width: 335px;
        --bs-app-sidebar-width-actual: 335px;
        --bs-border-radius: 15px;
    }
    .modal {
        --bs-modal-width: 1250px;
    }
}

[type="color"]{
    cursor: pointer;
    height: 44px;
}

.flatpickr {
    cursor: pointer;
}

@media (min-width: 992px){
    div, main, ol, pre, span, ul {
        scrollbar-width: thin;
        scrollbar-color: #ffffff00 transparent;
    }

    div:hover, main:hover, ol:hover, pre:hover, span:hover, ul:hover {
        scrollbar-color: #ffffff0d transparent;
    }
}

.rounded {
    border-radius: 15px !important;
}

/* PROJECTS */

.separator-vertical{
    display: block;
    height: 50px;
    border-right: 1px dashed #e1e3ea;
}

.shadow-list{
    box-shadow: 0px 3px 8px #00000015;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.draggable {
    transition: all 0.5s ease;
  }

.draggable.slide-up {
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.color-task {
    transition: background-color 0.3s ease;
}

.bg-light .form-check.form-check-solid .form-check-input:not(:checked) {
    background-color: var(--bs-gray-300);
}

.task-icons {
    transition: all 0.2s;
    width: 45px;
}

.task-icons:hover {
    width: 140px;
    border-radius: 15px !important;
}

.modal-backdrop.show {
    background-color: rgb(0 2 41 / 70%);
    mix-blend-mode: normal;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    opacity: 1;
}

.ck-content {
    min-height: 100px;
    height: 100px;
}